/* about.module.css */
*{
    box-sizing: border-box;
   }
   
   body, html {
       /* height: 100%; */
   }
   
   .aboutHeroContainer {
       position: relative;
   }
   
   .aboutTitle {
       text-align: center;
       position: absolute;
       top: 21%;
       left: 15%;
       color: #eaeaea;
       transform: translate(-50%, -50%);
   }
   
   .aboutContentContainer {
       margin: 30px;
       display: grid;
       grid-gap: 1vh;
       grid-template-areas: 
       'theText theText theText theText theText theText'
       'theStaffImage theStaffImage theStaffImage theStaffImage theStaffImage theStaffImage'
       'theContactSection theContactSection theContactSection theContactSection theContactSection theContactSection ';
       align-items: center;
       /* grid-template-columns: 1fr;
       grid-template-rows: 1fr; */
       border: 1px solid red;
   }
   
   .aboutText p {
       grid-area: theText;
   color: #eaeaea;
   text-align: justify;
   margin: 10px;
   border: 1px solid blue
   }
   .aboutImageStaff {
       grid-area: theStaffImage;
       margin: 10px;
       border: 1px solid yellow;
   }
   .aboutTeam{
       border: 1px solid magenta;  
   }
   .aboutContactInfo{
       grid-area: theContactSection;
      color: #eaeaea;
      margin: 10px;
      border: 1px solid green; 
   }
   .contactForm {
       border: 1px solid orange;
   }
   .contactInformation {
       border: 1px solid purple;
   }
   .customerContact {
       border: 1px solid brown;
   }
   
   a{
       color:#ffc388;
   }
   a:hover {
       color:orange;
   }
   
   
   /* iPads (portrait and landscape) ----------- */
   /* @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
       } */
   /* 
   @media only screen and (min-device-width : 768px) {
       .aboutContentContainer {
           padding: 50px;
           display: grid;
           grid-gap: 10vh;
           grid-template-columns: 1fr 1fr;
           grid-template-rows: 1fr;
       }
   }     */