.active_filters {
  margin: 1rem auto;
}
.active_filters ul {
  display: flex;
  justify-content: flex-start;
}

.active_filter {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-right: 1rem;
  animation: fadeIn 0.6s;
  cursor: pointer;
}

.active_filter span {
  grid-area: 1/1/1/1;
  justify-self: end;
  align-self: start;
  display: inline;
  /* margin-top: rem; */
}
.active_filter svg {
  margin: 0;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.active_filter:hover svg {
  color: rgb(252, 111, 111);
}

.active_filter li {
  grid-area: 1/1/1/1;
  background-color: var(--card-bg);
  color: var(--secondary-color);
  border-radius: 0.75rem;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease;
}

.active_filter:hover li {
  color: var(--primary-color);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
