.carCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--card-bg);
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  grid-column:1;
}

.img_container {
  grid-area: 1/1/1/2;
}

.carCard img {
  height: 100%;
}

.car_info_container {
  grid-area: 1/2/1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

.car_info_label {
  font-size: 0.75rem;
  border-bottom: 1px solid var(--secondary-color);
  display: inline-block;
}

.car_price {
  color: var(--primary-color);
}

.removeBtn {
  grid-area: 1/2/1/2;
  justify-self: end;
  align-self: end;
  background: linear-gradient(
    121.61deg,
    #fd9494 11.85%,
    rgba(252, 174, 174, 0.96) 55.35%,
    #d50c0c 101.01%
  );
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: var(--dark-color);
  width: auto;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.25rem;
  font-size: 0.7rem;
  /* opacity: 0.6; */
  transition: all 0.3s ease;
}
.removeBtn:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .car_info_label {
    font-size: 0.9rem;
  }
  .removeBtn {
    font-size: 0.75rem;
    margin: 1rem;
  }
  
  

  .car_price {
    font-size: 1.4rem;
  }
}
