h2{
    text-align: center;
    color: var(--primary-color);
}

.cartContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2rem;
}

.cartLeft {
    padding: 2rem;
    
}

.cartRight{
    padding: 2rem;
   
}