/*  */
.cart_form {
  width: 90%;
  margin: 0 auto 2rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #454545;
}

.cart_form h3 {
  text-align: center;
  color: var(--secondary-color);
  padding: 1rem 0 3rem;
}

.cart_form  label {
  color: var(--primary-color);
  font-family: var(--main-font);
  display: inline-block;
  padding-top: 1rem;
}

.cart_form  input {
  background: transparent;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 1.2rem;
  font-size: 1rem;
  outline: none;
  border: none;
  color: var(--secondary-color);
  border-bottom: 1px solid rgba(192, 192, 192, 0.6);
}

.cart_form  input:focus {
  background: #7c7c7c;
  border-radius: 1rem;
  transition: all 1s ease;
}

.radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.radio label {
  flex-basis: 75%;
  padding: 0;
}

.radio input {
  width: 20px;
  margin-right: 0.5rem

}

.cart_form .form_group {
  flex-basis: 100%;
}
.cart_form .card_date,
.cart_form .card_cvc {
  flex-basis: 40%;
}

.purchaseBtn {
  flex-basis: 100%;
  margin: 3rem 0 1rem;
  text-align: center;
}

.error{
  font-size: 0.75rem;
  color:var(--error-color);
}

@media (min-width: 576px) {
  .cart_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .cart_form h3 {
    flex-basis: 100%;
  }

  .billing_form{
    align-items: flex-start;
  }

 
}
@media (min-width: 992px) {
  .cart_form{
    margin: 0 1rem;
    align-self: flex-start;
  }
  .cart_form .email,
  .cart_form .phone {
    flex-basis: 100%;
  }
 
}
