.popupBackground {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000098;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupContainer {
    background-color: var(--card-bg);
    border-radius: 1rem;
}

.confirmationText {
    padding: 3rem 4rem;
    font-size: 1.5rem;
}