.dealsContainer{
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
}

.grid{
  min-height: 50vh;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.link {
  width: 5.5rem;
  height: 2rem;
  margin: auto;
}

@media only screen and (min-device-width: 768px) {
  .grid{
    width: 75%;
  }
}