.dealsContainer{
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
}

.grid{
  min-height: 50vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0rem;
  margin: 2rem 0rem;
}

button{
  width: 5.5rem;
  height: 2rem;
  margin: auto;
}