ul {
  list-style: none;
}

.filter_list {
  position: absolute;
  right: 0;
  top: 0;
  height: 30vh;
  width: 100%;
  overflow: auto;
  background: rgba(36, 36, 36);
  z-index: 100;
  border-radius: 1.25rem;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
}

.filter_item {
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  color: var(--secondary-color);
  transition: all 0.6s ease;
}

.filter_item:hover {
  background: var(--primary-color);
  color: var(--dark-color);
  font-weight: 700;
}

@media (min-width: 768px) {
  .filter_list {
    width: 70%;
    height: 30vh;
    top: 0;
  }
}
