.filter_container {
  position: relative;
}

.form_group_select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 1rem;
}

button {
  margin: 0;
  width: 33%;
}
