.filter_container {
  position: relative;
  z-index: 10;
}

.form_group_select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 1rem;
}

.reset_btn {
  flex-basis: 12.5%;
  justify-self: flex-end;
  align-self: flex-end;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .filter_container {
    display: flex;
    align-items: center;
    background: var(--card-bg);
    border-radius: 1.5rem;
    width: 100%;
  }

  .form_group_select {
    flex-direction: column;
    flex-basis: 25%;
    align-items: flex-start;
    margin: 1rem 0;
  }

  .reset_btn {
    flex-basis: auto;
    margin-left: auto;
  }
}
