.iconName {
    display: none;
    color:#ffc388;
    font-size: 1.4rem;
    padding: 10px 5px;
}



@media (min-width: 575px){
    .iconName {
        display: inline-block;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 575px){
    .navbar{
        bottom: 0;
        display: flex;
        justify-content: space-between;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 1rem; 
        background-color: #363636f2;
    }
   
}

svg{
    color:#ffc388;
    height: 1.25em !important;
    width: 1.25em !important ;
}
svg:hover {
    color:orange;
}






