.navbar a {
  display: flex;
  align-items: center;
}

.iconName {
  display: none;
  color: #ffc388;
  font-size: 1.4rem;
  padding: 10px 10px;
  margin-right: 2rem;
}

svg {
  color: #ffc388;
  height: 1.25em !important;
  width: 1.25em !important ;
  margin-top: 1rem;
}
svg:hover {
  color: orange;
}

@media (min-width: 575px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .navbar svg,
  .navbar span {
    /* font-size: 1rem; */
    margin: 0 2rem;
  }
}

@media (max-width: 575px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.6rem;
    background-color: #363636f2;
  }
}

@media (min-width: 768px) {
  .iconName {
    display: inline-block;
    padding-right: 3rem;
  }

  .navbar svg,
  .navbar span {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .navbar svg,
  .navbar span {
    font-size: 1.3rem;
    margin: 0;
  }
}
