.navbar a {
  display: flex;
  align-items: center;
}

.iconName {
  display: none;
  color: #ffc388;
  font-size: 1.4rem;
  margin-right: 2rem;
}

.navbar svg {
  height: 1.25em !important;
  width: 1.25em !important ;
}

.myAccount {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#login_container {
  display: none;
}

@media (min-width: 576px) {
  #login_container {
    display: flex;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .navbar svg,
  .navbar span {
    margin: 0 1rem;
  }
  .nav_container {
    position: relative;
    display: flex;
  }
  
  .login_container {
    position: relative;
  }
  
  .login_btn {
    display: inline-block;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
  }
  
  .login_btn > span {
    margin: 0;
  }
}

@media (max-width: 576px) {

  .navbar {
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: #363636f2;
  }
}

@media (min-width: 992px) {
  .iconName {
    display: inline-block;
    padding-right: 3rem;
  }

  .navbar svg,
  .navbar span {
    font-size: 1.3rem;
    margin: 0;
  }

  .navbar svg {
    margin-right: 0.5rem;
    height: 1em !important;
    width: 1em !important;
  }

}
@media print {
  .navbar {
    display: none;
  }
}
