.mainNavbar {
  background-color: var(--card-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.rightNavbar {
  display: flex;
}

.logo {
  color: var(--primary-color);
  padding: 20px;
  font-family: var(--header-font);
  font-size: 2rem;
}
a {
  text-decoration: none;
}

a:hover *{
  color: orange;
}

@media (min-width: 1200px) {
  .mainNavbar {
    padding: 1rem 4rem;
  }
}
