.mainNavbar {
    background-color: var(--card-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
}

.logo{
    color: var(--primary-color);
    padding: 20px;
    font-family: var(--header-font);
    font-size: 2rem;
    
}
a {
    text-decoration: none;
}
