.mainNavbar {
    background-color: var(--card-bg);
    display: flex;
    justify-content: space-between;
}

.logo{
    color: var(--primary-color);
    padding: 20px;
    font-family: var(--header-font);
    font-size: 2rem;
    text-decoration: none;
}