.orderCardContainer{
  background: rgba(255, 255, 255, 0.25);
  margin: 1rem auto;
  padding: 0.5rem 0rem;
}

.info{
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.info h2{
  margin: auto 1rem;
}
.info p{
  flex-basis: 50%;
  text-align: center;
}