.purchaseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purchaseHeader {
    color: var(--primary-color);
    text-align: center;
    padding: 1rem 0 2rem 0;
}