.container {
  width: 90%;
  margin: 1rem auto;
}

.UserPage_info {
  margin-top: 2rem;
}
.h2 {
  padding-left: 1rem;
  color: var(--primary-color);
}

.purchases {
  background: hsla(0, 0%, 60%, 0.5);
  padding: 1rem 0rem;
}

@media (min-width: 768px) {
  .container {
    width: 75%;
  }
}

.purchases {
  margin-top: 2.8rem;
}

.UserPage_info h2,
.purchasesHeading {
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .container {
    width: 80%;
    max-width: 1000px;
  }
}
