.container{
  margin: auto;
}

.h2{
  padding-left: 1rem;
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .container {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 50%;
  }
}