.container{
  width: 90%;
  margin: 1rem auto;
}

.UserPage_info {
  margin-top: 2rem;
}

.purchases {
  margin-top: 2.8rem;
}

.UserPage_info h2, .purchasesHeading {
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .container {
    width: 80%;
    max-width: 1000px;
  }
}